<section class="row bg-primary itemsSection col-lg-6 col-xs-12">
    <div id="whiteBg" class="card col-sm-12">
        <h3 class="card-title">All</h3>
        <ul class="col-md-12">
            <li ng-repeat="todo in todos track by todo.$id">
                <label class="form-check-label col-md-12">
                    <input type="checkbox" class="form-check-input" />
                    <span class="fa fa-square-o" style="font-size: 20px;"></span>
                    <span id="toDoItems">{{todo.title}}</span>
                    <p class="text-right">Due: {{todo.dueDate}}</p>
                    <p class="text-right">{{todo.comment}}</p>
                </label>
                <div class="col-md-12">
                    <span class="fa fa-pencil col-md-1 offset-9" id="editBtn"></span>
                    <span class="fa fa-trash col-md-1" id="deleteBtn" ng-click="removeTodo(todo)"></span>
                </div>
            </li>
        </ul>
    </div>
</section>


