<section class="itemsSection bg-danger row col-lg-12 col-xs-12">
       <div id="whiteBg" class="card col-sm-12 col-lg-8 col-xl-6 offset-lg-2 offset-xl-3">
        <h3 class="card-title">Completed</h3>
        <ul class="col-md-12">
            <li ng-repeat="todo in completedItems track by todo.$id">
                <label class="form-check-label col-md-12 text-muted">
                    <input type="checkbox" class="form-check-input" />
                    <span class="fa fa-check-square-o" style="font-size: 20px;"></span>
                    <span id="toDoItems">{{todo.title}}</span>
                </label>
                <div class="col-md-12">
                    <span class="fa fa-pencil col-md-1 offset-9" id="editBtn"></span>
                    <span class="fa fa-trash col-md-1" id="deleteBtn"></span>
                </div>
            </li>
        </ul>
        </div>
    </section>